name: Lint - Go
on:
  push:
    branches:
      - main
  pull_request:
  merge_group:
permissions:
  contents: read
  pull-requests: read
jobs:
  golangci:
    name: lint
    runs-on: ubuntu-latest
    env:
      ATLAS_DB_URI: "postgresql://atlas:t0t3sA-s3cur3pass@localhost:5432/atlas?sslmode=disable"
    services:
      postgres:
        image: postgres:latest
        env:
          POSTGRES_USER: atlas
          POSTGRES_PASSWORD: t0t3sA-s3cur3pass
          POSTGRES_DB: atlas
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5432:5432
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
      - uses: actions/setup-go@d35c59abb061a4a6fb18e82ac0862c26744d6ab5 # v5
        with:
          go-version-file: "go.mod"
      - name: golangci-lint
        uses: golangci/golangci-lint-action@4afd733a84b1f43292c63897423277bb7f4313a9 # v8.0.0
        with:
          args: --timeout=5m
          version: latest
      - name: Install differ
        run: go install github.com/kevinburke/differ@1.2
      - name: tidy
        run: differ go mod tidy
      - name: Generate
        run: |
          go generate ./...
          git checkout -- go.sum
          differ true
      - name: Init PSQL Database
        env:
          PGPASSWORD: "t0t3sA-s3cur3pass"
        run: psql -h localhost --username atlas --dbname atlas -c 'create extension btree_gin;'
      - name: DB Migrations
        run: |
          go run -mod=mod db/create_migration.go lint
          differ true
