---
name: Test - Golang

on:
  push:
    branches:
      - main
  pull_request:
  merge_group:

jobs:
  gotest:
    name: test
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        ci-database: ["sqlite", "cockroach", "postgres"]
        include:
          - ci-database: "sqlite"
            env-database-uri: "sqlite://file:ent?mode=memory&cache=shared&_fk=1"
          - ci-database: "cockroach"
            env-database-uri: "docker://cockroach:latest"
          - ci-database: "postgres"
            env-database-uri: "docker://postgres:latest"

    steps:
      - name: Checkout code for ${{ matrix.ci-database }}
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
      - name: Set up Go for ${{ matrix.ci-database }}
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6
        with:
          go-version-file: "go.mod"

      - name: Run go tests for ${{ matrix.ci-database }}
        run: METADATAAPI_TESTDB_URI="${{ matrix.env-database-uri }}" go test -p 1 -race -coverprofile=coverage.txt -covermode=atomic -tags testtools ./...

  success:
    if: ${{ !cancelled() }}
    needs: ["gotest"]
    name: Success
    runs-on: ubuntu-latest
    steps:
      - name: Any jobs failed?
        if: ${{ contains(needs.*.result, 'failure') }}
        run: exit 1

      - name: All jobs passed or skipped?
        if: ${{ !(contains(needs.*.result, 'failure')) }}
        run: echo "All jobs passed or skipped" && echo "${{ toJSON(needs.*.result) }}"
